  * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
  }
  
  @font-face {
      font-family: 'Shopper';
      src: url('http://www.shopperfont.com/font/Shopper-Std.ttf');
  }
      
  input {
    border: 0.3em solid #bbc3c6;
    padding: 0.5em 0.3em; 
    font-size: 1.4em;
    text-align: center;
  }
  
  .bal
  {
      float: right;
      margin-right:50px;

  }